%p= "Appointment for #{@appointment.patient.name} with #{@appointment.doctor.name} in the #{@appointment.doctor.clinic.name} clinic at #{@appointment.datetime} has been successfully cancelled" + (@appointment.reschedule ? " and been marked for rescheduling" : "")
%p= link_to ("Back to #{@appointment.doctor.clinic.name} clinic"), @appointment.doctor.clinic
