%html
  %head
    %title NHS Time Tag
    = stylesheet_link_tag :all
    = stylesheet_link_tag "resets/resets"
    = javascript_include_tag :defaults
    = javascript_include_tag 'clinic'
    = csrf_meta_tag

  %body
    #wrapper
      #header
        .content
          = "NHS TIMETAG | "
          = (@hospital) ? @hospital.name.upcase : ""
      #body
        .content
          !=flash_div :warning, :notice, :success, :error
          #logo
          #page
            = yield

    #footer
      .content
        #copyright
          &copy;
          = Time.new.year
          NHSTimeTag Team
